<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>
  <button class="btn btn-primary" type="submit" name="button" onclick="window.location.href = '/delete/<%=postId%>';">Delete</button>

<%- include("partials/footer"); -%>
